@CHARSET "UTF-8";

body{
	background:lightyellow;
}
.content{
	
}
.sidebar{
	float:left;
	width:10%;
	min-height:400px;
	background-color:coral;
}
.page{
	margin-top:7%;
	margin-left:3%;
	
}
.header{
	position:absolute;
	top:0px;
	min-height:50px;
	left:25%;
	width:50%;
	text-align:center;
	font-weight:bold;
	font-size:14pt;
	text-transform:uppercase;
	background-color:lightgreen;
	
}

.footer{
	position:absolute;
	bottom:0px;
	left:25%;
	min-height:50px;
	width:50%;
	text-align:center;
	font-weight:bold;
	font-size:14pt;
	text-transform:uppercase;
	background-color:lightblue;
}