@CHARSET "UTF-8";

body {
	background: white;
}

.article {
	width: 80%;
	background: #DEDEDE;
	margin: 0 0 5% 12%;
	font-size: 14pt;
	padding: 5% 5%;
	min-height: 700px;
	border-radius: 20px;
}

ul {
	list-style-type: none;
}

ul li {
	padding-bottom: 20px;
}

.sidebar {
	margin-top: 50px;
	padding: 2% 0;
	float: left;
	width: 10%;
	font-size: 14pt;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 20px;
	padding: 2% 0;
}

.sidebar a {
	text-decoration: none;
}

.page {
	margin-top: 7%;
	margin-left: 2%;
}

.header {
	top: 0px;
	padding-top: 10px;
	min-height: 40px;
	left: 25%;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	background-color: #cdf8cd;
	border-radius: 5px;
	position: absolute;
}

.footer {
	margin: 0 auto;
	position: relative;
	bottom: 0px;
	min-height: 50px;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	text-transform: uppercase;
	background-color: #cdf8cd;
	border-radius: 10px;
	padding-top: 15px;
}

.articleTitle {
	font-weight: bold;
	font-size: 18pt;
	text-transform: uppercase;
	color: grey;
	display: block;
	min-width: 400px;
	padding-left: 400px;
}

.tags {
	color: darkblue;
}

td {
	padding: 5px 30px;
}

.commentsList {
	margin-top: 50px;
}

.nextPrevLinks {
	width: 50%;
	height: 30px;
	margin: 2% 40%;
}

.nextPrevLinks a {
	min-width: 100px;
}

.err {
	color: red;
	font-size: 14pt;
}

.title {
	font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 40px;
}

.shortText {
	font-size: 14pt;
}

.saveButton {
	margin-top: 15px;
	min-width: 100px;
}
